#footer
  .container
    .row
      .col-xs-6
        ul(class="list-unstyled list-inline")
          li: a(href='https://github.com/datacommunitydc/meetup2gcal/', title='View on Github'): i(class="fa fa-github")
          li: a(href='https://twitter.com/datacommunitydc/', title="Follow us on Twitter"): i(class="fa fa-twitter")
          li: a(href='https://waffle.io/datacommunitydc/meetup2gcal', title="See what we're working on"): i(class="fa fa-trello")
      .col-xs-6
        p(class='text-right text-muted')
          | Copyright &copy; 2014 Data Community DC
