#footer
  .container
    .row
      .col-xs-6
        ul(class="list-unstyled list-inline")
          li: a(href='https://github.com/datacommunitydc/meetup2gcal/'): i(class="fa fa-github")
          li: a(href='https://twitter.com/datacommunitydc/'): i(class="fa fa-twitter")

      .col-xs-6
        p(class='text-right text-muted')
          | Copyright &copy; 2014 Data Community DC
