extends layout

block content
  .container
    .row
      .col-md-12
        .page-header
          .pull-left
            img(src='/images/dc2_logo.png', alt='DC2', class="img-responsive logo")
          .pull-left
            h1= title
            p.lead Welcome to #{title}
          .clearfix
