html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding-top: 70px;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -76px;
    padding: 0 0 106px;
}

#footer {
    background-color: #fff;
    border-top: 1px solid #eee;
    height: 76px;
    padding: 30px 15px;
    font-size: 16px;
    font-family: 'Open Sans Condensed' sans-serif;
}

#footer p {
    margin: 0;
}

img.logo {
    margin-top: 16px;
    margin-right: 22px;
    max-width: 200px;
}

.username {
  margin-top: -10px;
}

/* Calendar Icons (SVG) */

time.icon
{
  font-family: "Helvetica Neue Bold", arial, helvetica, sans-serif;
  font-size: 0.75em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  margin: 2em auto;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #345DAB;
  border-bottom: 1px dashed #213273;
  box-shadow: 0 2px 0 #345DAB;
}

time.icon em
{
  position: absolute;
  bottom: 0.1em;
  color: #345DAB;
}

time.icon span
{
  width: 100%;
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}
