html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding-top: 70px;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -76px;
    padding: 0 0 106px;
}

#footer {
    background-color: #fff;
    border-top: 1px solid #eee;
    height: 76px;
    padding: 30px 15px;
    font-size: 16px;
    font-family: 'Open Sans Condensed' sans-serif;
}

#footer p {
    margin: 0;
}

img.logo {
    margin-top: 16px;
    margin-right: 22px;
    max-width: 200px;
}

.username {
  margin-top: -10px;
}
