extends layout

block content
  .container
    if messages
      .row
        .col-md-12
          .alerts
            each message in messages
              div(class="alert alert-warning alert-dismissable fade in", role="alert")
                button(type="button", class="close", data-dismiss="alert")
                  span(aria-hidden="true") &times;
                  span.sr-only Close
                p.
                  <strong>Warning!</strong> #{message}

    .row
      .col-md-12
        .page-header
          .pull-left
            img(src='/images/dc2_logo.png', alt='DC2', class="img-responsive logo")
          .pull-left
            h1= title
            p.lead Welcome to #{title}
          .clearfix

block append javascript
  script.
    $(function() {
      setTimeout(function() {
        $('.alert').alert('close');
      }, 3000);
    });
